.product__description
	table
		width: 100%
		max-width: 640px
		margin: 0 auto $pl

		border-collapse: collapse
		text-align: left

		td
			padding: $ps $p

			border-bottom: 1px solid $fc20
			font-size: $fzs
			&:first-child
				width: 40%

				opacity: $ops

		tr:last-child
			td
				border-bottom: 2px solid $c
